@font-face {
    font-family: "Avenir Next";
    src: url("/fonts/AvenirNextCyr/AvenirNextCyr-Medium.ttf") format("ttf");
    font-style: normal;
    font-weight: 600;
  }
  @font-face {
    font-family: "Avenir Next";
    src: url("/fonts/AvenirNextCyr/AvenirNextCyr-Light.ttf") format("ttf");
    font-weight: 500;
  }
  
  @font-face {
    font-family: "Avenir Next";
    src: url("/fonts/Playfair_Display/static/PlayfairDisplay-Italic.ttf") format("ttf");
    font-weight: 700;
  }
  /* @font-face {
    font-family: "Playfair Display";
    src: url("/fonts/PlayfairDisplay/playfair-display-v30-latin-700italic.ttf")
      format("ttf");
    font-weight: 700;
  }
   */
  @font-face {
    font-family: "Monument Extended";
    src: url("/fonts/Monument/MonumentExtended-Ultrabold.otf") format("opentype");
    font-weight: 800;
  }
  